<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component vue.
                    </div>
                </div>
            </div>
        </div>
        <component :is="homevue"></component>
    </div> 
</template>

<script>
    export default {
        data(){
            return {
                homevue:'pp'
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
