<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                 
                    <div class="card-body">
                     diossssssssssssssssssssssssssssssssssssssss
                    </div>
                </div>
            </div>
        </div>
         
    </div> 
</template>

<script>
    export default { 
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
